@{
    ViewData["Title"] = "Professional Employment Table";
}
<h1>@ViewData["Title"]</h1>

@model Project3_FinalExam.ViewModels.EmploymentViewModel

<div id="employment"></div>
<div id="jsGrid" class="jsGrid"></div>
<div id="Chartjs" class="Chartjs"></div>


<link rel="stylesheet" href="~/jqueryui/themes/le-frog/jquery-ui.min.css">
<script src="~/jquery/jquery.js"></script>
<script src="~/jqueryui/jquery-ui.js"></script>
<link src="text/css" rel="stylesheet" href="~/jsgrid/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="~/jsgrid/jsgrid-theme.min.css" />
<script src="~/jsgrid/jsgrid.min.js"></script>
<script src="~/Chart.js/chart.js"></script>
<script src="~/Chart.js/chart.min.js"></script>
<script>

    Functio
        $("#jsGrid").jsGrid({
            height: "90%",
            width: "100%",
            sorting: true,
            paging: true,

            data: @Html.Raw(Json.Serialize(Model.employment)),
            fields: [
                { name: "employer", type: "text", width: 200 },
                { name: "degree", type: "text", width: 100 },
                { name: "city", type: "text", width: 200 },
                { name: "title", type: "text", width: 250 },
                { name: "startDate", type: "text", width: 100 }
            ]
        });

        var ctx = document.getElementById('Chartjs');
    function containsObject(obj, list) {
    var i;
    for (i = 0; i < list.length; i++) {
        if (list[i] === obj) {
            return true;
        }
    }

    return false;
}
        var degrees = []
        var serial = @Html.Raw(Json.Serialize(Model.employment));
        for (element in serial) {
            console.log(serial[element].degree);
            if serial[element].degree
            //degrees.push(element.degree);
        };


</script>