@model Project3_FinalExam.ViewModels.AboutViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>@Model.about.title</h1>
</div>
<div>
    <img src="~/images/overhead1.jpeg" alt="Overhead image" style="width:100%; margin-bottom: 2em;" />
    <p>@Model.about.description</p>
    <p><i>"@Model.about.quote"</i></p>
    <p> - @Model.about.quoteAuthor</p>
</div>
